*,*:after,*:before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}
body{
	font-family: arial;
	font-size: 16px;
	margin: 0;
	background: #fff;
	color: #000;
  background:url(../forest.jpg);  /* dodane */
  background-size: cover;
	background-position: center bottom; 
  overflow: hidden;
	position: relative;
  height: 100vh;
	width: 100%;
}

.snow_wrap{
	height: 100vh;
	width: 100%;
	background:url(../forest.jpg);
	background-size: cover;
	background-position: center bottom; 
	overflow: hidden;
	position: relative;
}

.snow, .snow:before, .snow:after {
  position: absolute;
  top: -650px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: 
  radial-gradient(4px 4px at 100px 50px, #fff , transparent), 
  radial-gradient(6px 6px at 200px 150px, #fff, transparent), 
  radial-gradient(3px 3px at 300px 250px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 400px 350px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 500px 100px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 50px 200px, #fff 50%, transparent), 
  radial-gradient(4px 4px at 150px 300px, #fff 50%, transparent), 
  radial-gradient(6px 6px at 250px 400px, #fff 50%, transparent), 
  radial-gradient(3px 3px at 350px 500px, #fff 50%, transparent);
  background-size: 650px 650px;
  animation: snow 3s linear infinite;
  content: "";
}

.snow:after {
  margin-left: -250px;
  opacity: 0.5;
  filter: blur(2px);
  animation-duration: 6s;
  animation-direction: reverse;
}

.snow:before {
	margin-left: -350px;
  opacity: 0.7;
  filter: blur(1px);
  animation-duration: 9s;
  animation-direction: reverse;
}

@keyframes snow {
  to {
    transform: translateY(650px);
  }
}


.app, .gameScreen, .drawScreen{
  width: 90%;
  max-width: 800px;
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  margin: 100px auto 0;
  border-radius: 20px;
  border: solid 1px black;
  padding: 40px 35px;
  text-align: center;
  z-index: 1;
}

.santaImg{
  width: 70%;
  height: 70%;
  display: block;
  margin: 0 auto;
}

.startButton{
  background-color: black;
  color: white; 
  margin: 50px;
  cursor: pointer;
}

.answerItem{
  margin-top: 13px;
  margin-left: auto;
  margin-right: auto;
  display: flex;  /*none*/
  align-items: center;
  border: 2px solid white;
  border-radius: 5px;
  width: 93%;
  height: 40px;
  background-color: #363636;
}
.answerText{
padding: 20px;
color: white;
font-size: 15px;
}
.deleteButton{
  cursor: pointer;
  margin-left: 630px;
  background: transparent;
  border: 0;
  font-weight: bold;
  font-size: 15px;
  color: white;
  position: absolute;
}
.inputSpace{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputBar{
  width: 300px;
  height: 30px;
  padding: 7px;
  border: 1px solid #363636;
  border-radius: 5px;
}
.drawNamesButton{
  display: flex;
  align-items: center;
  height: 40px;
  width: 80px;
  justify-content: center;
  border: 0.5px solid #363636;
  border-radius: 5px;
  margin-left: 5px;
  cursor: pointer;
}
a:link { 
  text-decoration: none; 
}
a:visited { 
  text-decoration: none; 
}
a:hover { 
  text-decoration: none; 
}
a:active { 
  text-decoration: none; 
}